<template>
  <div></div>
</template>

<script>
import axios from "axios";

export default {
  setup() {
    return {};
  },
  data() {
    return {
      todo: {},
    };
  },
  methods: {
    addTodo(event) {
      if (event) event.preventDefault();

      axios.post("/", this.todo);
    },
    clearTodo() {},
  },
};
</script>
